* {
    /* border: 2px solid black; */
    font-family: Arial;
}

@font-face {
    font-family: customFont;
    src: url(Play-Bold.ttf);
}

html body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    
}

#splash {
    width: 40vw;
    height: 100vh;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

#logo-icon {
    height: inherit;
    width: 60px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: inherit;
    height: 90x;
    top: 30%;
}

#logo-text {
    font-family: customFont , "Work Sans";
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    width: 60vw;
    min-width: 450px;
}

#hero , #mid , #foot{
    padding-left: 40px;
    flex: 1;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 250px;
    min-height: 100px;
}

p {
    font-weight: bold;
    padding-right: 100px;
}

#hero p:first-child {
    margin-top: 20%;
    margin-bottom: 0;
}

#hero p:nth-child(2) {
    margin-top: 0;
}

#hero p:last-child {
    margin-bottom: 40px;
}

h2 {
    padding-top: 10px;
}

#mid {
    background-color: white;
    padding-bottom: 30px;
    max-height: 250px;
    box-shadow: 0px 5px 5px gray;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 10px;
}

.form-block {
    display: flex;
    flex-direction: column;
}

button {
    box-shadow: 3px 3px 5px gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 25px;
    background-color: rgb(150,150,150);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgb(100,100,100);
}

#footnote {
    font-size: 13px;
    margin-bottom: 10px;
}

#dont-match {
    display: none;
    color: red
}

@media only screen and (max-width: 750px) {
    html body {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
    }
    #main {
        width: 100vw;
        min-width: 100vw;
        height: 80vh;
    }

    body {
        flex-direction: column;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    #logo-icon {
        height: inherit;
        width: 40px;
    }

    form{
        flex-direction: column;
    }

    #hero {
        min-height: 350px;
        padding-top: 0px;
    }

    #hero p {
        font-size: 12px;
        padding-right: 30px;
    }

    #mid {
        min-height: 450px;
    }
    
    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        width: 100%;
        height: 90x;
        top: 5%;
    }
    #splash {
        width: 100vw;
        height: 20vh;
        min-height: 250px;
    }
    
    input {
        width: 70vw;
    }
    #hero , #mid , #foot{
        padding-left: 10px;
        padding-right: 10px;
        flex: 1;
    }

    #hero p:first-child {
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    #hero p:nth-child(2) {
        margin-top: 0;
    }
    
    #hero p:last-child {
        margin-bottom: 40px;
    }
    
}